version: '3.8'

services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        NEXT_PUBLIC_API_BASE_URL: "https://api.digiceb.com"
        NEXT_PUBLIC_STORAGE_MODE: "local"
    environment:
      - NODE_ENV=production
      - PORT=3000
      - HOSTNAME=0.0.0.0
      # Update this to your server URL when deploying
      - NEXT_PUBLIC_API_BASE_URL=https://api.digiceb.com
      - NEXT_PUBLIC_STORAGE_MODE=local
    restart: unless-stopped
    container_name: mac-uploader-frontend
